@using First.Ecard.Presentation.UI.Components.Shared
@using Microsoft.AspNetCore.Authorization
@using First.Ecard.Presentation.UI.Components.Models
@using First.Ecard.Presentation.UI.Components.Services


@page "/"
@attribute [Authorize]
@inject AccountService AccountService
@inject ClientService ClientService
@inject CardService CardService
@inject ILogger<Home> Logger

<PageTitle>FirstBank RDC</PageTitle>

@* <div class="container-fluid py-4">
   <div class="row">
      <FirstCard value="200" title="Total Transactions" growth="+3%" icon="ni ni-world text-lg opacity-10"
         iconShape="icon icon-shape bg-gradient-danger shadow-danger text-center rounded-circle" />
      <FirstCard value="2700" title="Clients" growth="+6%" icon="ni ni-world text-lg opacity-10"
         iconShape="icon icon-shape bg-gradient-primary shadow-danger text-center rounded-circle" />
      <FirstCard value="2500" title="Comptes" growth="+3% since last week" icon="ni ni-world text-lg opacity-10"
         iconShape="icon icon-shape bg-gradient-success shadow-danger text-center rounded-circle" />
      <FirstCard value="200" title="Users" growth="+2%" icon="ni ni-world text-lg opacity-10"
         iconShape="icon icon-shape bg-gradient-warning shadow-danger text-center rounded-circle" />
   </div>

</div> *@

<div class="container-fluid py-4">
   <div class="row">
      <div class="col-xl-5 mb-xl-0 mb-4">
         <div class="card bg-transparent shadow-xl">
            <div class="overflow-hidden position-relative border-radius-xl"
               style="background-image: url('https://raw.githubusercontent.com/creativetimofficial/public-assets/master/argon-dashboard-pro/assets/img/card-visa.jpg');">
               <span class="mask bg-gradient-dark"></span>
               <div class="card-body position-relative z-index-1 p-3">
                  <i class="fas fa-wifi text-white p-2"></i>
                  <h5 class="text-white mt-4 mb-5 pb-2">
                     4562&nbsp;&nbsp;&nbsp;1122&nbsp;&nbsp;&nbsp;4594&nbsp;&nbsp;&nbsp;7852</h5>
                  <div class="d-flex">
                     <div class="d-flex">
                        <div class="me-4">
                           <p class="text-white text-sm opacity-8 mb-0">Nom</p>
                           <h6 class="text-white mb-0">MBAMBI MAYELE Philippe</h6>
                        </div>
                        <div>
                           <p class="text-white text-sm opacity-8 mb-0">Date expiration</p>
                           <h6 class="text-white mb-0">05/26</h6>
                        </div>
                     </div>
                     <div class="ms-auto w-20 d-flex align-items-end justify-content-end">
                        <img class="w-60 mt-2" src="../assets/img/logos/mastercard.png" alt="logo">
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-xl-7">
         <div class="row">
            <div class="col-md-4">
               <ECard title="Clients" Value="@clients.Count.ToString()" />
            </div>
            <div class="col-md-4">
               <ECard title="Comptes" Value="@accounts.Count.ToString()" />
            </div>
            <div class="col-md-4">
               <ECard title="Cartes virtuelles" Value="@cards.Count.ToString()" />
            </div>
         </div>
      </div>
      <div class="row col-md-12 mb-lg-0 mb-4">
         <div class="col-lg-10 card mt-4 mx-3">
            <div class="card-header pb-0 p-3">
               <div class="row">
                  <div class="col-6 d-flex align-items-center">
                     <a class="btn btn-dark mb-0" href="/accounts/add"><i class="fas fa-plus"></i>&nbsp;&nbsp;Créer une
                        carte virtuelle</a>
                  </div>

                  <div class="col-6 text-end">
                     <h6 class="mb-0"></h6>
                  </div>

               </div>
            </div>
            <div class="card-body p-3">
               <div class="row">
                  <div class="col-md-6 mb-md-0 mb-4">
                     <div class="card card-body border card-plain border-radius-lg d-flex align-items-center flex-row">
                        <img class="w-10 me-3 mb-0" src="../assets/img/logos/mastercard.png" alt="logo">
                        <h6 class="mb-0">****&nbsp;&nbsp;&nbsp;****&nbsp;&nbsp;&nbsp;****&nbsp;&nbsp;&nbsp;7852
                        </h6>
                        <i class="fas fa-pencil-alt ms-auto text-dark cursor-pointer" data-bs-toggle="tooltip"
                           data-bs-placement="top" title="Edit Card"></i>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="card card-body border card-plain border-radius-lg d-flex align-items-center flex-row">
                        <img class="w-10 me-3 mb-0" src="../assets/img/logos/visa.png" alt="logo">
                        <h6 class="mb-0">****&nbsp;&nbsp;&nbsp;****&nbsp;&nbsp;&nbsp;****&nbsp;&nbsp;&nbsp;5248
                        </h6>
                        <i class="fas fa-pencil-alt ms-auto text-dark cursor-pointer" data-bs-toggle="tooltip"
                           data-bs-placement="top" title="Edit Card"></i>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-2"></div>
      </div>
   </div>

   <div class="row">
      <div class="col-md-7 mt-4">
         <div class="card">
            <div class="card-header pb-0 px-3">
               <h6 class="mb-0">Liste des cartes virtuelles</h6>
            </div>
            @foreach (var card in cards)
            { 
            <div class="card-body pt-4 p-3">
               <ul class="list-group">
                  <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
                     <div class="d-flex flex-column">
                        <h6 class="mb-3 text-sm">@card.CardType</h6>
                        <span class="mb-2 text-xs">Numéro de la carte : <span class="text-dark font-weight-bold ms-sm-2">@card.CardNumber</span></span>
                        <span class="mb-2 text-xs">Numéro de compte :  <span
                              class="text-dark ms-sm-2 font-weight-bold">@card.Account!.AccountNumber</span></span>
                        <span class="mb-2 text-xs">CVV : <span
                              class="text-dark ms-sm-2 font-weight-bold">@card.Cvv</span></span>
                        <span class="mb-2 text-xs">Date d'expiration : <span
                              class="text-dark ms-sm-2 font-weight-bold">@card.ExpiryDate</span></span>

                     </div>
                     <div class="ms-auto text-end">
                        <a class="btn btn-link text-danger text-gradient px-3 mb-0" href="javascript:;"><i
                              class="far fa-trash-alt me-2"></i>Delete</a>
                        <a class="btn btn-link text-dark px-3 mb-0" href="javascript:;"><i
                              class="fas fa-pencil-alt text-dark me-2" aria-hidden="true"></i>Edit</a>
                     </div>
                  </li>
               </ul>
            </div>
            }
         </div>
      </div>
      <div class="col-md-5 mt-4">
         <div class="card h-100">
            <div class="card-header pb-0 p-3">
               <div class="row">
                  <div class="col-6 d-flex align-items-center">
                     <h6 class="mb-0">Historique des transactions</h6>
                  </div>
                  <div class="col-6 text-end">
                     <button class="btn btn-outline-primary btn-sm mb-0">Voir tout</button>
                  </div>
               </div>
            </div>
            <div class="card-body p-3 pb-0">
               <ul class="list-group">
                  <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                     <div class="d-flex flex-column">
                        <h6 class="mb-1 text-dark font-weight-bold text-sm">March, 01, 2020</h6>
                        <span class="text-sm text-warning">#First-Trans-415646</span>
                     </div>
                     <div class="d-flex align-items-center text-sm">
                        180 $
                        <button class="btn btn-link text-dark text-sm mb-0 px-0 ms-4"><i
                              class="fas fa-file-pdf text-lg me-1"></i> Exporter en PDF</button>
                     </div>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</div>

@code {
   private List<AccountResponse> accounts = new();
   private List<ClientResponse> clients = new();
   private List<CardResponse> cards = new();
   private bool isLoading = true;

   protected override async Task OnInitializedAsync()
   {
      try
      {
         accounts = await AccountService.GetAccountsAsync();
         clients = await ClientService.GetClientAsync();
         cards = await CardService.GetCardsAsync();
      }
      catch (Exception ex)
      {
         Logger.LogWarning($"Erreur lors de chargement des comptes : {ex.Message}");
      }
      finally
      {
         isLoading = false;
      }
   }
}